<ul class="navbar">
    <li><a href="#">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Contact Us</a></li>
    <button type="button" class="btnLogin-popup">Login</button>
</ul>
